<mat-toolbar color="primary">
	<mat-icon>account_balance</mat-icon>
	<a>Banco San Luis</a>
	<span class="move"></span>





	<a routerLink="/" routerLinkActive="active">
		<button mat-button>
			<mat-icon>power_settings_new</mat-icon>
			LogOut
		</button>
	</a>

	<a>

		<button mat-button (click)="goToHome()">
			<mat-icon>home</mat-icon>
			Home
		</button>
	</a>


</mat-toolbar>

	<div class="mainDiv">
		<div class="divTitle">
			<h1 style="margin-top: 0;text-align:center;font-size: 25px;">Cuentas</h1>
		</div>
	
		<br style="height:100%">
		<div class="divCenter">
			<div *ngFor="let cuenta of listCuentas" class="divUsers">
	
				<div class="divUsersInformation">
					<h1> Numero de cuenta: {{cuenta.id_val}}</h1>
					<h1>Tipo:  {{cuenta.type}}</h1>
					<h1> Saldo: {{ cuenta.amount }}</h1>
				</div>
			</div>
		</div>
		<br>
	</div>