<mat-toolbar color="primary">
	<mat-icon>account_balance</mat-icon>
	<a>Banco San Luis</a>
	<span class="move"></span>





	<a routerLink="/login" routerLinkActive="active">
		<button mat-button>
			<mat-icon>power_settings_new</mat-icon>
			LogOut
		</button>
	</a>

	<a>

		<button mat-button (click)="goToHome()">
			<mat-icon>home</mat-icon>
			Home
		</button>
	</a>


</mat-toolbar>
<div >
    <div class="row">
      <div class="col-xl-2 col-lg-2 col-md-3 col-sm-4 col-xs-12 p-4" *ngFor="let cuenta of listCuentas">
          <div class="card card-photo">
              <div class="card-header">
                  {{cuenta.numero}}
                  {{cuenta.tipo}}
                  {{cuenta.monto}}
              </div>
              
              
          </div>
      </div>
    </div>
    </div>